<link rel="stylesheet" href="partials/css/portfolio.css">
<link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Francois+One|Oswald" rel="stylesheet">
<navigation></navigation>
<body>

    <h1 class="white-text">Portfolio</h1>
    <div class="show white-text" ng-class='showBackground'>
        <div ng-show='college' >
            <h2 class="myCollege">MyCollege</h2>
            <p class='thumb-text'>a practice project in the use of Media Queries</p>
        </div>
        <div ng-show='restaurante' >
            <h2 class="restauranteTitle">Restaurante</h2>
            <p class='thumb-text'>A practice project in the use of Bootstrap</p>
        </div>
        <div ng-show='arena' >
            <h2 class="dungeonScript">dungeonScript</h2>
            <p class='thumb-text'>A self generating dungeon crawler built with javaScript</p>
        </div>
    </div>
    <div class="work-section">

        <div class="thumbnail" ng-mouseover='restaurante = true; college = false; arena = false; start = true; showBackground = "restaurant-back"'>
            <img src="img/restaurant.png"  onclick="window.location='projects/restaurante-DylanMahaffey/index.html'">
        </div>
        <div class="thumbnail" ng-mouseover='college = true; restaurante = false; arena = false; start = true; showBackground = "college-back"'>
            <img src="img/college.png" onclick="window.location='projects/project 2/index.html'">
        </div>
        <div class="thumbnail" ng-mouseover='arena = true; college = false; restaurante = false; start = true; showBackground = "arena-back"'>
            <img src="img/arena.png" onclick="window.location='projects/arena/index.html'">
        </div>
    </div>

    <img src="img/restaurant-2.jpg" class="background" ng-show='restaurante'>
    <img src="img/university.jpg" class="background" ng-show='college'>
    <img src="img/cavern.jpg" class="background" ng-show='arena'>
    <img src='img/line-alt.jpg' class="background" ng-hide='start'></img>


</body>
