<link rel="stylesheet" href="/partials/css/welcome.css">
<style media="screen">
    @media screen and (max-width: 600px){
        body{
            background-image: url('/img/dark-grey.jpg');
            background-repeat: repeat-y;
            background-size: cover;
        }
        .prof-pic{
            width: 50vw;
            height: 50vw;
        }
        .info-card{
            flex-direction: column;
            align-items: center;
        }
        .info h2{
            text-align: center;
        }
        .info h3{
            text-align: center;
        }
        .info{
            width: 90vw;
        }
        .excerpt{
            width: 90vw;
        }
    }
</style>

<body>
    <navigation></navigation>
    <div class="info-card">
        <img src="/img/profile pic.jpg" class="prof-pic">
        <div class="info">
            <h2>Dylan Mahaffey</h2>
            <h3>Web Developer </h3>
        </div>
    </div>
    <div class="excerpt">
        <p>
            Hello, I'm a Web Developer from Fresno, Ca and student of the fast growing GeekWise Academy.
            I am proficient with HTML, CSS, and JavaScript, as well as the frameworks Bootstrap and AngularJs,
            and a noivce with gulp.js and Firebase. Also I am in the process of learning Node.js.
            Check out my portfolio made with AngularJs and send a message if you have any questions.
        </p>
    </div>
</body>
