.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond';
    margin: 10px;
}
.link {
    font-size: 1.2em;
    width: 100px;
    padding: 10px 0;
    text-align: center;
}
.border{
    border: 2px solid black;
    border-radius: 10px;
    background:
}
