.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond';
    margin: 10px;
}
.link {
    font-size: 1.2em;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}
.border{
    border: 2px solid black;
    border-radius: 10px;
}
.border-white{
    border: 2px solid white;
    border-radius: 10px;
}
.white{
    color: white;
}
.black{
    color: black;
}
