*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'EB Garamond';
    text-align: center;
    color: white;
}
.background{
    background-image: url('../../img/dark-grey.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -99;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.my-info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.my-info h3{
    font-family: 'EB Garamond';
    color: white;
    font-size: 1.4em;
}
.my-info h4 {
    font-family: 'Cormorant Garamond';
    color: white;
    font-size: 1.3em;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}
.or{
    font-family: 'EB Garamond';
    color: white;
    text-align: center;
}
.contact-form{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.info{
    width: 45vw;
    height: auto;
}
.info input {
    width: 100%;
    height: 30px;
    margin-top: 0;
    margin-bottom: 40px;
    background-color: #c6c6c6;
    font-family: 'Lato';
}
.info p{
    height: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    color: white;
    font-size: 1.2em;
    font-family: 'Cormorant Garamond';
}
.message{
    width: 45vw;
    height: 100%;
}
.message p {
    height: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    color: white;
    font-size: 1.2em;
    font-family: 'Cormorant Garamond';
}
.message textarea {
    resize: none;
    width: 100%;
    height: 250px;
    margin-top: 0;
    margin-bottom: 40px;
    background-color: #c6c6c6;
    font-family: 'Lato';
}
.submit{
    font-size: 1.2em;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Cormorant Garamond';
    margin-left: 2.5vw;
}
.thank-you{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.thanks-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.thanks-border{
    padding: 30px;
    border-radius: 10px;
    color: white;
    background-color: darkgrey;
    position: relative;
    font-family: 'Lato';
    box-shadow: 0px 0px 10px #000;
}
[class*='close-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}
.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}
input.ng-valid {
	background-color: honeydew !important;
}

input.ng-invalid.ng-dirty {
	background-color: lightpink !important;
}
textarea.ng-valid {
	background-color: honeydew !important;
}

textarea.ng-invalid.ng-dirty {
	background-color: lightpink !important;
}
span{
    color: red;
}
.gh-icon{
    width: 5vw;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
